@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.skill-list {
  position: absolute;
  top: 19vw;
  color: white;
  margin-left: 19%;
}
.a4-nav-bar {
  position: relative;
}
ul {
  list-style-type: none; /* Removes the bullets */
  padding: 0; /* Optional: removes default padding */
  margin: 0; /* Optional: removes default margin */
}
.hard-skills-headline {
  color: #a5a5a5;
  font-family: 'Inter', sans-serif;
}
.soft-skills-headLine {
  color: #a5a5a5;
  font-family: 'Inter', sans-serif;
}
.circle-skill {
  background-color: #d1d1d1;
  width: 20%;
  height: 1vw;
}
