@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.mini-card-header {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 4px;
}
.mini-card-level {
  font-family: 'Rubik', sans-serif;
  color: #626472;
  font-size: 1rem;
}
.mini-card-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 15px;
  border-radius: 5px;
  padding-top: 5px;
}
.edit-icon {
  width: 25px;
}
.edit-container {
  display: flex;
  border: 1px solid #b9b9b9;
  padding: 5px;
  border-radius: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  justify-content: center;
  width: clamp(26px, 3vw, 42px);
  height: clamp(26px, 3vw, 42px);
}
.miniCard-content {
}
.language-container {
  display: flex;
  justify-content: start;
}
.add-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1.5px solid #b9b9b9;
  color: #626472;
  border-radius: 4px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: clamp(110px, 10vw, 140px);
  height: clamp(30px, 3vw, 35px);
  transition: width 0.3s ease-in-out;
}
.add-language {
  margin: 0;
}
.plus-container {
  display: flex;
  align-items: top;
}
.add-container:hover {
  width: clamp(108px, 9vw, 138px);
  height: clamp(28px, 2vw, 33px);
  font-size: 1.08rem;
}
.edit-container:hover {
  width: clamp(25px, 2vw, 43px);
  width: clamp(25px, 2vw, 43px);
}
