.circle-a4 {
  background-color: var(--primary-blue-color);
  width: clamp(110px, 30vw, 150px);
  height: clamp(110px, 30vw, 150px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px; /* Adjust this value for desired distance from the right */
  bottom: 20px;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.circle-a4 img {
  width: clamp(40px, 10vw, 55px);
}
.circle-a4:active {
  transform: scale(0.9);
}
.nav-a4 {
  height: 60px;
}
.a4-list li {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
.page-a4-container {
  z-index: 15;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .circle-a4 {
    display: none;
  }
}
