@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --grey: #e2e2e3; /* Define the primary color variable */
  --primary-blue-color: #29c2f1; /* Define the primary color variable */
}
.header-personal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.card-header {
  margin: 0px;
}
.action {
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.action-img {
  transform: rotate(180deg);
}
.card {
  width: clamp(290px, 93vw, 740px);
  background-color: white;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 9px 7px 11px rgba(0, 0, 0, 0.1);
}
.picture-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.label-picture {
  color: var(--grey);
}
.add-picture {
  width: 26vw;
  height: 26vw;
  background-color: #e2e2e3;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 97px;
}
.card-content {
  max-height: 0;
  overflow: hidden;
  display: flex;
  transition: max-height 0.3s ease-out;
}
.card-content.open {
  max-height: 1000px; /* This is an arbitrary large value */
  transition: max-height 0.3s ease-in;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: 'Rubik', sans-serif;
  color: var(--grey);
  font-size: 0.9rem;
  width: fit-content;
  max-width: 740px;
}
.input-personal {
  height: 40px;
  font-size: 1.25rem;
  font-family: 'Rubik', sans-serif;
  width: clamp(72px, 89.5vw, 740px);
  background-color: var(--grey);
  border: none;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  max-width: 740px;
}
#name {
  width: clamp(110px, 25vw, 320px);
}
#lastName {
  width: clamp(110px, 25vw, 320px);
}
#email {
  width: clamp(220px, 50vw, 640px);
}
.personal-row {
  display: flex;
  gap: 10px;
}
.form-personal {
  display: flex;
  flex-direction: column;
  width: 95vw;
  gap: 7px;
  justify-content: start;
}
.label-personal {
  width: fit-content;
  padding: 3px;
  transition:
    color 0.4s ease,
    background-color 0.4s ease;
}

.valid-label {
  width: fit-content;
  padding: 3px;

  background-color: var(--primary-blue-color);
  border-radius: 3px;
  color: white;
}
.valid-input {
  border: 1px solid var(--primary-blue-color);
}
.input-personal::placeholder {
  color: rgb(168, 167, 167);
}
.header-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-top: 10px;
  cursor: pointer;
}
.personal-information-container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  gap: 5px;
}
@media screen and (min-width: 476px) and (max-width: 1000px) {
  #email {
    width: clamp(220px, 50vw, 640px);
  }
  #name {
    width: clamp(110px, 22vw, 320px);
  }
  #lastName {
    width: clamp(110px, 25vw, 320px);
  }
  .form-group {
    max-height: 12vw;
  }
  .add-picture {
    width: 20vw;
    height: 20vw;
  }
  .personal-information-container {
    gap: 10px;
  }
}
@media screen and (min-width: 1001px) {
  .card {
    width: 95%;
    max-width: 850px;
  }
  .personal-information-container {
    max-width: 840px;
  }
}
