:root {
  --grey: #e2e2e3; /* Define the primary color variable */
  --primary-blue-color: #29c2f1; /* Define the primary color variable */
}
.level-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-family: 'Rubik', sans-serif;
  color: var(--grey);
  font-size: 0.9rem;
}
.circle-rating {
  display: flex;
  gap: 6px;
}
.circle {
  border-radius: 100%;
  background-color: var(--grey);
  width: 8.5vw;
  height: 8.5vw;
  cursor: pointer;
  min-width: 28px;
  min-height: 28px;
}
.font-label {
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 89.5vw;
  justify-content: space-between;
}
.skill-mastery-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: end;
  gap: 5px;
  font-family: 'Rubik', sans-serif;
  color: var(--grey);
  font-size: 0.9rem;
}
.input-personal-mastery {
  width: 32vw;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  height: 40px;
  background-color: var(--grey);
  border-radius: 4px;
  transition: border-color 0.3s ease;
}
.done-delete-container {
  display: flex;
  width: 89.5vw;
  justify-content: end;
  margin-top: 30px;
}
.done-button {
  width: 21.5vw;
  height: 7.3vw;
  background-color: var(--primary-blue-color);
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.delete-img {
}
.delete-container {
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  width: 7.3vw;
  height: 7.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-resize {
  min-height: 100px;
}
.all-options {
  display: flex;
  width: 32vw;
  justify-content: space-between;
}
.done-button:active {
  transform: scale(0.95);
}
.delete-container:active {
  transform: scale(0.95);
}
.active {
  background-color: var(--primary-blue-color);
}
