.level-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-family: 'Rubik', sans-serif;
  color: var(--grey);
  font-size: 0.9rem;
}
.circle-rating {
  display: flex;
  gap: 6px;
}
.circle {
  border-radius: 100%;
  background-color: var(--grey);
  width: 8.5vw;
  height: 8.5vw;
  cursor: pointer;
  min-width: 28px;
  min-height: 28px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 89.5vw;
  justify-content: space-between;
  max-width: 740px;
}
.skill-mastery-container {
  display: flex;
  flex-direction: column;
  width: 32vw;
  align-items: start;
  gap: 5px;
  font-family: 'Rubik', sans-serif;
  color: var(--grey);
  font-size: 0.9rem;
}
.input-personal-mastery {
  width: 32vw;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  height: 40px;
  background-color: var(--grey);
  border-radius: 4px;
  transition: border-color 0.3s ease;
}
.done-delete-container {
  display: flex;
  width: 89.5vw;
  justify-content: end;
  margin-top: 30px;
  max-width: 740px;
}
.done-button {
  width: 21.5vw;
  height: 7.3vw;
  background-color: var(--primary-blue-color);
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.delete-img {
}
.delete-container {
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  width: 7.3vw;
  height: 7.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.card-resize {
  min-height: 100px;
}
.all-options {
  display: flex;
  width: 32vw;
  justify-content: space-between;
}
.done-button:active {
  transform: scale(0.95);
}
.delete-container:active {
  transform: scale(0.95);
}
.active {
  background-color: var(--primary-blue-color);
}
.rating-words {
  display: flex;
  height: 4vw;
}
.rating-skill {
  font-family: 'Rubik', sans-serif;
  color: #8b8c96;
  margin-top: 5px;
}
.circle-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.headline-container {
  font-family: 'Raleway', system-ui;
  font-weight: 700;
  font-size: clamp(24px, 2.2vw, 32px);
  margin-left: 10px;
}

@media screen and (min-width: 476px) and (max-width: 1000px) {
  .done-delete-container {
    margin-top: 15px;
  }

  .done-button {
    font-size: 1.5rem;
    width: 110px;
    height: 6vw;
    max-height: 40px;
  }
  .check {
    width: 1.5rem;
  }
  .delete-img {
    width: 3vw;
  }
  .delete-container {
    height: 6vw;
    width: 6vw;
    max-height: 40px;
  }
  .all-options {
    width: clamp(150px, 22vw, 175px);

    align-items: center;
  }
  .circle {
    width: 6vw;
    height: 6vw;
  }
  .form-group {
    font-size: 1.2rem;
  }
  .rating-skill {
    font-size: 1.2rem;
  }
  .label-personal {
    font-size: 1.2rem;
  }
  .input-personal {
    max-width: 730px;
  }
  .form-personal-work-date {
    max-width: 740px;
    gap: 23px;
  }
  #description-work {
    width: 90vw;
  }
  .date-group {
    max-width: 366px;
  }
  .input-personal-work {
    width: 18vw;
    max-width: 160px;
  }
  .form-personal {
    max-width: 740px;
  }
}
@media screen and (min-width: 1001px) {
  .done-delete-container {
    width: 47vw;
    max-width: 840px;
  }
  .all-options {
    width: 12vw;
    max-width: 190px;
  }
  .done-button {
    width: 7.5vw;
    height: 3.5vw;
    font-size: 1.2rem;
    max-width: 120px;
    max-height: 45px;
  }
  .delete-container {
    height: 3.5vw;
    width: 3.5vw;
    max-width: 45px;
    max-height: 45px;
  }
  .check {
    width: 2vw;
    max-width: 30px;
  }
  .delete-img {
    width: 1.7vw;
    max-width: 30px;
  }
  .form-group {
    width: 47vw;
    max-width: 840px;
  }
  .form-personal-work {
    width: 47vw;
    max-width: 840px;
  }
  .input-personal {
    width: 100%;
    max-width: 840px;
  }
  .form-personal-work-date {
    width: 45.5vw;
  }
  .form-group-work {
    width: 10vw;
  }
  .input-personal-work {
    width: 10vw;
    font-size: 1.2rem;
    max-width: 180px;
  }
  .date-group {
    width: 20vw;
    gap: 20px;
    max-width: 420px;
  }
  .circle {
    width: clamp(45px, 3vw, 55px);
    height: clamp(45px, 3vw, 55px);
  }
  .level-container {
    display: flex;
  }
  .row {
    max-width: 840px;
    width: 47vw;
  }
  .skill-mastery-container {
    width: 15vw;
  }
  .input-personal-mastery {
    width: 100%;
    font-size: 1.3rem;
  }
  .circle-row {
    flex-direction: row;
    gap: 25px;
    font-size: 1.2rem;
  }
  .rating-words {
    align-items: center;
  }
  .add-picture {
    width: 15vw;
    height: 15vw;
    max-width: 270px;
    max-height: 270px;
  }
}
