:root {
  --grey: #e2e2e3; /* Define the primary color variable */
  --primary-blue-color: #29c2f1; /* Define the primary color variable */
}
.level-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.circle-rating {
  display: flex;
  gap: 6px;
}
.circle {
  border-radius: 100%;
  background-color: var(--grey);
  width: 9vw;
  height: 9vw;
  cursor: pointer;
}
.font-label {
  font-family: 'Rubik', sans-serif;
  color: var(--grey);
  font-size: 0.9rem;
}
