body {
  margin: 0;
  padding: 0;
  background-color: #f1eeee;
}
ul {
  margin: 0;
  padding: 0;
}
.resumeA4 {
  border: 1px solid black;
  width: 85vw;
  height: 120vw;
}
.main-contact {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
@media screen and (min-width: 1001px) {
  .main-contact {
    padding-left: 10px;
  }
}
