body {
  margin: 0;
  padding: 0;
  background-color: #d1d1d1;
}
ul {
  margin: 0;
  padding: 0;
}
.resumeA4 {
  border: 1px solid black;
  width: 85vw;
  height: 120vw;
}
.main-contact {
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  gap: 20px;
}
